@font-face {
	font-family:'CS ChatThaiUI';
	src: url('CSChatThaiUI.eot');
	src: url('CSChatThaiUI.eot?#iefix') format('embedded-opentype'),
		 url('CSChatThaiUI.woff2') format('woff2'),
		 url('CSChatThaiUI.woff') format('woff'),	
		 url('CSChatThaiUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;}